@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 98vw;
    height: 100vh;

    background-image: url('util/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 iframe {
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
 }

#telefone {
    background-image: url('util/imagens/frame-iphone.png');
    border: 3px solid rgb(5, 233, 115);
    width: 311px;
    height: 627px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    height: 100vh;
}
