@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: url('util/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 iframe {
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
 }

#telefone {
    background-image: url('util/imagens/frame-iphone.png');

    width: 311px;
    height: 627px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    height: 100vh;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img {
    width: 50px;

    border-radius: 50%;

    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 7px;

    box-shadow: 4px 6px 15px black;
}

#redes-sociais img:hover {
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 4px 6px 15px black;
    transform: translate(-3px, -3px);
}